:root {
    --light-blue: #00b3e5;
    --dark-blue: #005587;
    --dark-grey: #4d4d4d;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--dark-grey);
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

article {
    font-family: "PT Serif", Georgia;
}

.date-author {
    font-family: 'Titillium Web', sans-serif;
    line-height: 80%;
    font-size: 0.9em;
}

header {
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
 
.header-newsletters :first-child {
    margin-bottom: 0;
    color: var(--light-blue);
}

.header-newsletters :nth-child(2) {
    margin-top: 0;
    color: grey;
}


.subscribe-box {
    display: grid;
    justify-content: flex-end;
    align-content: center;
}

.subscribe-box p {
    font-family: Titillium Web;
    font-weight: 700;
    background-color: var(--light-blue);
    color: white;
    margin: 20px;
    padding: 5px 20px;
}

.new-scientist-logo {
    max-width: 100%;
}

.page, nav {
    width: 85%;
    margin: 0 auto;
    padding: 0;
    font-size: 1.15em;
}

.left-nav {
    display: flex;
    gap: 15px;
}

.flex-to-end {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

h1 {
    line-height: 80%;
    font-size: 280%;
    font-weight: 700;
    color: black;
    font-family: Titillium Web, Helvetica,Trebuchet MS,Arial,sans-serif;
    letter-spacing: -.0375rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main-content {
    display: grid;
    gap: 20px;
    grid-template-columns: 5fr 2fr;
    justify-content: center;
}

.article-img {
    max-width: 100%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.nav ul li a {
    padding: 7px 0;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 700;
    color: var(--dark-grey);
}

.nav ul li a:hover {
    color: var(--light-blue);
    border-bottom: 7px solid black;
}

.selected-link {
    color: var(--light-blue) !important;
    border-bottom: 7px solid black;
}


a {
    text-decoration: none;
    padding: 10px;
}

.more-links {
    display: flex;
    gap: 20px;
    color: black;
}

.more-links :hover {
    color: var(--light-blue);
}

.more-img {
    position: relative;
}

.more-links img {
    max-width: 100%;
}

.more-badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-grey);
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 12px;
}

.purple-badge {
    background: purple;
}

ul {
    list-style-type: none;
}

.sidebar {
    display: grid;
    gap: 5px;
    grid-template-columns: 1.5fr repeat(3, minmax(50px, 1fr));
    color: black;
    font-weight: 700;
    font-size: 110%;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    line-height: 120%;
}

.sidebar a {
    background-color: #f5f5f5;
    font-size: 70%;
    padding: 10px;
}

.sidebar-heading {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 8fr 1fr;
    gap: 10px;
    align-content: center;
    justify-content: space-between;
    padding: 5px; 
}

.selected-sidebar-link {
    background-color: var(--light-blue) !important;
    color: white;
}

.sidebar-heading span {
    font-size: 150%;
    color: var(--light-blue);
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 700;
}

.sidebar div {
    background-color: #f5f5f5;
} 

.center {
    display: grid;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: rgb(80, 209, 80);
}

.blue {
    background-color: blue; 
}

.medium-blue {
    background-color: rgb(69, 69, 228);
}

.orange {
    background-color: orangered;
}

.grey {
    background-color: grey;
}

.light-blue {
    background-color: var(--light-blue);
}

.light-blue-font {
    color: var(--light-blue);
}

.social-new-issue {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh;
    gap: 80px;
    justify-content: space-between;
}

.social-new-issue img {
    max-height: 100%;
    max-width: 100%;
}

.new-issue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 40px;
}

.new-issue-buttons {
    font-size: 16px;
    font-weight: 700;
}

.new-issue-buttons div {
    padding: 5px;
    margin-bottom: 10px;
    color: white;
}

.red {
    background-color: red;
}

.turquoise {
    background-color: turquoise;
}

.icons {
    display: flex;
    gap: 15px;
    max-height: 30px;
}


.social-circle {
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    color: white;
}

.extra-padding-fb {
    padding: 5px 10px;
}

.more-from-new-scientist {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
}
